<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
@@include('./layouts/wallet-header.html')

<!-- 월렛 메인 페이지 -->
<main class="page-partner-main">
  <div class="partner-container">
    <div class="partner-text-group">
      <h1 class="text-group-title">
        Now you can create and<br />
        manage your Wallet Card.
      </h1>
      <p class="text-group-sub-text">
        Welcome onboard and congratulations on becoming a Samsung Wallet partner.
      </p>
    </div>

    <ul class="base-step type02">
      <li>
        <div class="step-item">
          <p class="step-number">1</p>

          <div class="step-content">
            <p class="step-title">Create Wallet card</p>
            <p class="step-text">런칭할 카드의 정보를 입력하세요</p>
          </div>
        </div>
      </li>
      <li>
        <div class="step-item">
          <p class="step-number">2</p>

          <div class="step-content">
            <p class="step-title">Request for release</p>
            <p class="step-text">
              CRS 정보를 입력하세요.<br />
              승인까지 몇 주가 소요됩니다.
            </p>
          </div>
        </div>
      </li>
    </ul>

    <div class="partner-card-group">
      <div class="card-item">
        <p class="card-item-title">Create Wallet Card</p>
        <p class="card-item-text">
          Approval may take<br />
          a few weeks.
        </p>
        <a href="#" class="card-item-link">
          <span>Go and create</span>
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.64282 13.7139L11.3571 7.99958L5.64282 2.2853" stroke="#2088FD" stroke-width="1.2"/>
          </svg>
        </a>
      </div>
      <div class="card-item">
        <p class="card-item-title">Wallet Card management</p>
        <p class="card-item-text">
          Check out approval status.<br />
          Manage your Wallet Cards.
        </p>
        <a href="#" class="card-item-link">
          <span>Go and manage</span>
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.64282 13.7139L11.3571 7.99958L5.64282 2.2853" stroke="#2088FD" stroke-width="1.2"/>
          </svg>
        </a>
      </div>
      <div class="card-item">
        <p class="card-item-title">Card Statistics</p>
        <p class="card-item-text">
          Analyse and optimize your card.
        </p>
        <a href="#" class="card-item-link">
          <span>Go and statistics</span>
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.64282 13.7139L11.3571 7.99958L5.64282 2.2853" stroke="#2088FD" stroke-width="1.2"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>

@@include('./layouts/footer.html')
@@include('./partial/script.html')
</body>
</html>
