<!DOCTYPE html>
<html lang="ko">
@@include('./partial/head-meta.html')
<body>
@@include('./layouts/wallet-header.html')

<div class="base-page-layout">
  <main role="main" class="base-container p3-updated-tac">
    <div class="mkdown-docs">
      <!-- contents area -->
      <h1 id="Samsung-Developers-Cookie-Policy">Samsung Cookie Policy</h1>
      <p><strong>Updated on 2023-06-14</strong></p>
      <p>
        This Cookie Policy describes the different types of cookies that may be used in
        connection with Samsung Developers website which is owned and controlled by Samsung
        Electronics Co., Ltd ("Samsung Electronics"). This Cookie Policy also describes how you
        can manage cookies.
      </p>
      <p>
        It’s important that you check back often for updates to the Policy as we may change it
        from time to time to reflect changes to our use of cookies. Please check the date at the
        top of this page to see when this Policy was last revised. Any changes to this Policy
        will become effective when we make the revised Policy available on our website.
      </p>
      <p>
        Samsung Electronics has offices across Europe, so we can ensure that your request or
        query will be handled by the data protection team based in your region. If you have any
        questions, the easiest way to contact us is through our Privacy Support Page at
        <a
          href="https://www.samsung.com/request-desk"
          target="_blank"
          style="white-space: normal"
        >https://www.samsung.com/request-desk</a
        >.<br />
        <br />
      </p>
      <p>
        You can also contact us at: <br /><br />
        European Data Protection Officer<br />
        Samsung Electronics (UK) Limited<br />
        Samsung House, 2000 Hillswood Drive, Chertsey, Surrey KT16 0RS, UK
      </p>

      <h2 id="Cookies">Cookies</h2>
      <p>
        Cookies are small files that store information on your computer, TV, mobile phone, or
        other device. They enable the entity that put the cookie on your device to recognize you
        across different websites, services, devices, and/or browsing sessions. <br />
        <br />
        We use the following types of cookies on this website:
      </p>
      <p>
        <b>Essential Cookies</b>: enable you to receive the services you request via our
        website. Without these cookies, services that you have asked for cannot be provided. For
        example, these enable you to view the website based on your location or preferred
        language, and other accessibility settings you may have selected. These cookies are
        automatically enabled and cannot be turned off because they are essential to enable you
        to browse our website. Without these cookies this Samsung Developers website could not
        be provided.
      </p>

      <table>
        <thead align="left">
        <tr>
          <td>
            <p><b>Cookie</b></p>
          </td>
          <td>
            <p><b>Domain</b></p>
          </td>
          <td>
            <p><b>Purpose</b></p>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <p>SDP_PORTAL_SSID</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Samsung Account SSO token</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>user_access_profiles</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Encrypted user permissions</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>session</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Session management information</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>session.sig</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Session management information</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>s_deveportal_redirect_url</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Page URL for redirection after login flow</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>_csrf</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Token secret for CSRF attack prevention</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>sdp_samsung_com_jwt</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Encrypted user information</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>locale</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>User language preference</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>RTL_FRONT_SESSIONID</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>User session UUID</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>WEB_CLIENT_OPEN</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Indicator of whether RTL web client is running</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>WEB_CLIENT_DATA</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Serial number of RTL device</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>CTD_CLIENT_DATA</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Serial number of RTL device</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>WEB_CLIENT_GATEWAY_*</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Gateway server for RTL device</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>CTD_CLIENT_GATEWAY_*</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Gateway server for RTL device</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>WEB_CLIENT_NAME_*</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>RTL device name</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>CTD_CLIENT_NAME_*</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>RTL device name</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>WEB_CLIENT_TOKEN_*</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Reservation token for RTL device</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>CTD_CLIENT_TOKEN_*</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Reservation token for RTL device</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>IABCSESSIONID</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>Session ID for Issues and Bugs Channel</p>
          </td>
        </tr>
        </tbody>
      </table>
      <p>
        <b>Analytical or performance cookies:</b> allow us to recognise and count the number of
        visitors and to see how visitors move around our website when they are using it. This
        helps us to improve the way our website works, for example, by ensuring that users are
        finding what they are looking for easily. This type of cookies is automatically disabled
        and can be configured to your particular preferences. We will use these cookies for a
        period of one year.
      </p>
      <table>
        <thead align="left">
        <tr>
          <td>
            <p><b>Cookie</b></p>
          </td>
          <td>
            <p><b>Domain</b></p>
          </td>
          <td>
            <p><b>Purpose</b></p>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <p>_ga_&lt;container-id&gt;</p>
          </td>
          <td>
            <p>.samsung.com</p>
          </td>
          <td>
            <p>Persistent session state</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>_ga</p>
          </td>
          <td>
            <p>.samsung.com</p>
          </td>
          <td>
            <p>Information used to distinguish unique users for user behaviour tracking</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>_gid</p>
          </td>
          <td>
            <p>.samsung.com</p>
          </td>
          <td>
            <p>Information used to distinguish users for user behaviour tracking</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>_gat_UA-&lt;container-id&gt;</p>
          </td>
          <td>
            <p>.samsung.com</p>
          </td>
          <td>
            <p>Information used to throttle the request rate for user behaviour tracking</p>
          </td>
        </tr>
        </tbody>
      </table>
      <p>
        <b>Functionality Cookies:</b> allow us to deliver a better user experience. For example,
        this type of cookie ensures that the information displayed on your next visit to our
        website will match up with your user preferences. This type of cookies is automatically
        disabled and can be configured to your particular preferences. We will use these cookies
        for a period of one year.
      </p>
      <table>
        <thead align="left">
        <tr>
          <td>
            <p><b>Cookie</b></p>
          </td>
          <td>
            <p><b>Domain</b></p>
          </td>
          <td>
            <p><b>Purpose</b></p>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <p>__rlvp</p>
          </td>
          <td>
            <p>developer.samsung.com</p>
          </td>
          <td>
            <p>User’s page visit history</p>
          </td>
        </tr>
        </tbody>
      </table>
      <p>
        <b>Advertising Cookies: </b>allow us and our carefully selected partners to personalise
        our website, deliver advertisements to you, or contact you directly where you have
        separately consented to such communications, in a way which is relevant to you and which
        matches your interests by, for example, using information about products you have
        browsed or ordered on our website. This type of cookies is automatically disabled and
        can be configured to your particular preferences. We will use these cookies for a period
        of one year.
      </p>
      <table>
        <thead align="left">
        <tr>
          <td>
            <p><b>Cookie</b></p>
          </td>
          <td>
            <p><b>Domain</b></p>
          </td>
          <td>
            <p><b>Purpose</b></p>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <p>fr</p>
          </td>
          <td>
            <p>.facebook.com</p>
          </td>
          <td>
            <p>Advertisement delivery and retargeting information</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>muc_ads</p>
          </td>
          <td>
            <p>.t.co</p>
          </td>
          <td>
            <p>
              User behaviour and interaction data, used to optimize the website and make
              advertisements on the website more relevant
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>personalization_id</p>
          </td>
          <td>
            <p>.twitter.com</p>
          </td>
          <td>
            <p>Ad-targeting information for Twitter</p>
          </td>
        </tr>
        </tbody>
      </table>
      <p>
        <b>Third party Cookies: </b>Our website may also display content from a third party
        website or service, which may result in cookies from third parties being stored on your
        hard drive or browser. These third parties can be seen and their cookies can be blocked
        in the Cookie Management Tool. We do not control the storage and use of these cookies by
        these third parties and you should refer to the privacy policies of the relevant third
        parties for more information. This type of cookie is automatically disabled and can be
        configured to your particular preferences.
      </p>

      <h2 id="Other-Local-Storage">Other Local Storage</h2>
      <p>
        We, along with certain third parties, may use other kinds of local storage technologies,
        such as Local Shared Objects (also referred to as "Flash cookies") and HTML5 local
        storage, in connection with our services. These technologies are similar to the cookies
        discussed above in that they are stored on your device and can be used to store certain
        information about your activities and preferences. However, these technologies may make
        use of different parts of your device from standard cookies, and so you might not be
        able to control them using standard browser tools and settings. For information about
        disabling or deleting information contained in Flash cookies, please
        <a href="http://www.allaboutcookies.org/manage-cookies/" target="_blank">click here</a>.
      </p>

      <h2 id="Pixel">Pixel</h2>
      <p>
        Pixels on our website also deliver information about the website usage to Samsung.com
        &amp; third party tracing servers, but do not store the information on the users'
        browser like a cookie does. Pixels allow Samsung to ensure the site is running and pages
        are loading. <br />
        <br />
        Pixels on our website are categorised and managed in the same way as cookies.
        Performance, functional and advertising pixels are disabled and can be configured to
        your preferences using the Cookies Management Tool.<br />
        <br />
        An e-mail pixel is a similar technology used by Samsung in communications sent via
        e-mail. Where you have separately consented to receiving communications which have been
        carefully selected from our partners to deliver advertisements to you, each
        communication contains both a cookie and pixel.
      </p>

      <h2 id="Managing-Cookies-and-Other-Technologies">
        Managing Cookies and Other Technologies
      </h2>
      <p>
        You can change your cookie preferences at any time by adjusting the cookie settings
        through the Cookies Management Tool, which can be found here:
        <button class="inline-button-link" data-target-modal="cookie-tool">
          <span class="txt">Cookie Management Tool</span></button
        >.
      </p>
      <p>
        You can also update your browser settings at any time, if you want to remove or block
        cookies from your device (consult your browser's "help" menu to learn how to remove or
        block cookies). Samsung Electronics is not responsible for your browser settings. You
        can find good and simple instructions on how to manage cookies on the different types of
        web browsers at
        <a href="http://www.allaboutcookies.org/" target="_blank"
        >http://www.allaboutcookies.org</a
        >
        .<br />
        <br />
        Please be aware that rejecting cookies may affect your ability to perform certain
        transactions on the website, and our ability to recognize your browser from one visit to
        the next.
      </p>
      <!-- contents area -->
    </div>
  </main>
</div>

@@include('./layouts/footer.html')
@@include('./partial/script.html')
</body>
</html>
