.sdp-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
  .header-global-nav {
    position: relative;
    z-index: 4;
    background: #fff;

    .global-nav-menu {
      position: relative;
      display: flex;
      line-height: 1;
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  .header-breadcrumb-fixed.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid #C9CDDD;
  }

  .header-global-nav.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
  }

  .sdp-lnb {
    display: block;
    transform: translateX(-100%);
    transition: transform .3s ease;
    @media (min-width: 1200px) {
      display: none;
      transform: initial;
    }
  }

  .sdp-lnb.open {
    transform: translateX(0);
  }


  .global-nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 20px;
    @media (min-width: 1200px) {
      position: relative;
      z-index: 10;
      height: 64px;
      padding: 16px 40px 0 40px;
      background: #fff;
    }

    .global-nav-util-group {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 0;
      @media (min-width: 1200px) {
        gap: 28px;
      }

      .util-group-search {
        display: flex;
        align-items: center;
        @media (min-width: 1200px) {
          gap: 10px;
          width: 180px;
          height: 32px;
          padding: 0 16px;
          border-radius: 16px;
          border: 1px solid #c9cddd;
          background: #fbfbfb;
          transition: border .3s ease;
        }

        svg {
          color: #1e1e1e;
        }

        span {
          display: none;
          @media (min-width: 1200px) {
            position: relative;
            top: 1px;
            display: inline;
            font-size: 12px;
            color: #adadad;
          }
        }
      }

      .util-group-search:hover {
        border-color: #363636;
      }

      .util-group-sign-in {
        display: none;
        @media (min-width: 1200px) {
          display: block;
          border: none;
          background-color: transparent;
          cursor: pointer;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          color: #535353;
        }
      }

      .util-group-sign-in:hover {
        color: #1e1e1e;
      }

      .util-group-dashboard {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        .dropdown-list {
          bottom: 0;
          left: initial;
          right: 0;
        }
      }
      .util-group-dashboard:hover {
        .dropdown-list {
          display: grid;
        }
      }
    }
  }

  .global-nav-logo {
    line-height: 1;
  }

  .global-nav-bottom {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    max-width: 300px;
    padding: 0;
    transform: translateX(-100%);
    transition: transform .3s ease;
    background: #fff;
    @media (min-width: 1200px) {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: center;
      max-width: initial;
      height: initial;
      transform: initial !important;
      transition: initial;
      background: #fff;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #C9CDD1;
      content: '';
    }
  }

  .nav-btm-logo {
    display: flex;
    align-items: center;
    height: 56px;
    gap: 16px;
    padding-left: 24px;
    background: #fff;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  .nav-btm-close {
    line-height: 1;
  }

  .nav-btm-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 0;
    height: calc(100vh - 56px);
    overflow-y: auto;
    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 40px;
      width: 100%;
      height: initial;
      background: #fff;
    }
    &:before {
      @media (min-width: 1200px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        content: '';
      }
    }

    > li {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid #c9cddd;
      @media (min-width: 1200px) {
        position: initial;
        width: initial;
        border-bottom: initial;
      }
    }

    > li > a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 56px;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      color: #1e1e1e;
      padding-left: 24px;
      @media (min-width: 1200px) {
        height: 48px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    > li > a:after {
      @media (min-width: 1200px) {
        position: absolute;
        bottom: 1px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 2px;
        content: '';
        background-color: #1e1e1e;
        transform: scaleX(0);
        transform-origin: center;
        transition: 0.3s ease;
      }
    }

    > li.selected {
      & > a {
        background: #EFEFEF;
        color: #0f42cf;
        @media (min-width: 1200px) {
          background: initial;
          color: initial;
        }
      }

      .nav-btm-menu-arrow:after {
        transform: rotate(180deg);
      }
    }

    > li.only-mobile {
      display: flex;
      @media (min-width: 1200px) {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      > li:hover a {
        color: #1e1e1e
      }

      > li:hover a:after {
        transform: scaleX(1);
        background-color: #1e1e1e;
      }

      > li:hover .nav-dynamic-menu {
        // opacity: 1;
        z-index: -1;
        transform: translateY(100%);
      }

      > li > a.selected {
        color: #0f42cf;
      }

      > li a.selected:after {
        transform: scaleX(1);
        background-color: #0f42cf;
      }
    }
  }

  .nav-btm-menu {
    li:nth-child(2) .nav-dynamic-menu .dynamic-menu-item-contents .contents-item .contents-item-list > li > a {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.42px;
      @media (min-width: 1200px) {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.36px;
      }
    }
  }

  .nav-btm-menu-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    height: 56px;
    &:after {
      width: 16px;
      height: 16px;
      background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.09961 6L10.0996 13L17.0996 6" stroke="%231E1E1E" stroke-width="1.5"/></svg>');
      background-size: cover;
      content: '';
      margin-right: 24px;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }

  .global-nav-bottom.open {
    transform: translateX(0);
    @media (min-width: 1200px) {
      transform: initial;
    }
  }

  .header-sub-nav {
    display: none;
    @media (min-width: 1200px) {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      min-height: 56px;
      background: #F8F9FA;
    }

    .sub-nav-breadcrumb {
      display: flex;
      align-items: center;
      @media (min-width: 1200px) {
        width: fit-content;
        min-height: 56px;
      }
      .breadcrumb-item-list {
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;

        > li {
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          padding-right: 22px;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: #535353;
        }

        > li:hover > a {
          color: #1e1e1e;
        }

        > li:last-child {
          padding-right: 0;
        }

        > li:not(:last-child)::after {
          content: '';
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
          height: 14px;
          background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.36621 17L13.3662 10L6.36621 3" stroke="%231E1E1E" stroke-width="1.5"/></svg>');
          background-size: cover;
          background-repeat: no-repeat;
        }

        > li > a {
          font-size: 14px;
          line-height: 16px;
          color: #535353;
          @media (min-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
          }
        }

        .more-menu {
          position: relative;
          display: flex;
          align-items: center;
          gap: 4px;
          .dropdown-list {
            @media (min-width: 1200px) {
              left: -17px;
            }
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            svg {
              width: 16px;
              height: 16px;
              color: #535353;
              path {
                stroke-width: 1.2;
              }
            }
          }
        }

        .more-menu:hover {
          .dropdown-list {
            display: grid;
          }
          > span > svg {
            transform: rotate(180deg);
            color: #1e1e1e;
            path {
              stroke-width: 1.6;
            }
          }
        }
      }
    }

    .sub-nav-util {
      display: none;
      @media (min-width: 1200px) {
        display: flex;
        align-items: center;
        gap: 16px;
        width: fit-content;
        min-height: 56px;
      }

      .util-nav {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      .dropdown-list {
        left: 50%;
        transform: translate(-50%, 100%);
      }


      .nav-item {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;

        .item-title {
          display: flex;
          align-items: center;
          gap: 4px;
          height: 56px;
          font-size: 14px;
          font-weight: 500;
          color: #1e1e1e;
          letter-spacing: -0.42px;
        }

        .item-title .item-title-arrow path {
          stroke-width: 1.2;
        }

        .sub-nav-dropdown:hover .item-title,
        .item-title:hover {
          color: #0f42cf;
          .item-title-arrow {
            transform: rotate(180deg);
            path {
              stroke-width: 1.6;
            }
          }
        }
      }

      .nav-item.selected {
        .item-title {
          color: #0F42CF;
          font-weight: 700;
          letter-spacing: 0;
        }
      }

      .sub-nav-dropdown {
        position: relative;
        display: inline-block;

        .dropdown-list.lang {
          left: initial;
          right: 0;
          transform: translate(0, 100%);
        }

        .item-title {
          display: flex;
          align-items: center;
          gap: 4px;
          height: 56px;
          border: none;
          cursor: pointer;
          color: #1e1e1e;
          background-color: transparent;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      .sub-nav-dropdown:hover {
        .dropdown-list {
          display: grid;
        }
      }

      .util-link {
        display: flex;
        align-items: center;
        gap: 6px;
        height: 35px;
        padding: 0 12px 0 16px;
        border: 1px solid #C9CDD1;
        border-radius: 17.5px;
        background-color: #fff;
        color: #535353;
        transition: all .2s ease;

        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          margin-top: 2px;
          letter-spacing: -0.42px;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .util-link:hover {
        background: #0f42cf;
        color: #fff;
        border-color: #0f42cf;
      }
    }
  }

  .dropdown-list {
    display: none;
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 6px;
      left: 0;
      transform: translateY(100%);
      display: none;
      gap: 4px;
      width: max-content;
      min-width: 128px;
      max-height: 440px;
      overflow-y: auto;
      border: 1px solid #E3E5E9;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
      z-index: 1;
      list-style: none;
      margin: 0;
    }
  }

  .dropdown-list li {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .dropdown-list li a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: 'SamsungOne', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #535353;
    padding: 0 16px;
    svg {
      margin-left: 4px;
    }
  }

  .dropdown-list li:hover {
    background: #ECF1F7;
    a {
      color: #1e1e1e;
    }
  }

  .dropdown-list li a.selected {
    font-weight: 700;
    margin-top: -2px;
    letter-spacing: 0;
    color: #1e1e1e;
  }

  .nav-dynamic-menu {
    display: none;
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: block;
      background: #fff;
      width: 100%;
      height: initial;
      // opacity: 0;
      transform: translateY(0);
      transition: transform .3s ease;
    }

    .dynamic-menu-item-contents {
      padding: 8px 0 16px 0;
      @media (min-width: 1200px) {
        padding: 24px 0;
      }
    }

    .contents-item-list {
      display: flex;
      flex-direction: column;
      @media (min-width: 1200px) {
      }
      li {
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        color: #1e1e1e;
        @media (min-width: 1200px) {

        }
      }
      li a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: #737373;
        padding-left: 36px;
        @media (min-width: 1200px) {
          padding-left: 0;
        }
      }

      li a .contents-underline {
        color: #1e1e1e;
        border-bottom: 1px solid #737373;
      }

      li a .contents-underline + span {
        color: #1e1e1e;
      }
    }

    .dynamic-menu-item-contents {
      @media (min-width: 1200px) {
        display: flex;
        gap: 56px;
      }

      .contents-item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .contents-item-title {
          display: flex;
          align-items: center;
          height: 40px;
          padding-left: 24px;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          color: #1e1e1e;
          @media (min-width: 1200px) {
            height: 48px;
            padding-left: 0;
          }
        }

        .contents-item-list {
          display: flex;
          flex-direction: column;
          list-style: none;
          @media (min-width: 1200px) {
            gap: 4px;
          }


          > li {
            display: flex;
            align-items: center;
            height: 36px;
            @media (min-width: 1200px) {
              height: 32px;
            }

            > a {
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
              color: #535353;
              letter-spacing: -0.42px;

              .arrow {
                padding-left: 4px;
                line-height: 0;
                svg {
                  width: 12px;
                  height: initial;
                }
              }
            }

            > a:hover {
              color: #0f42cf;
              .contents-underline {
                color: #0f42cf;
                border-bottom-color: #0f42cf;
              }
              .contents-underline + span {
                color: #0f42cf;
              }
            }

            > a.selected {
              color: #535353;
              font-weight: 700;
              letter-spacing: 0;
              margin-top: -2px;
              @media (min-width: 1200px) {
                color: #1e1e1e;
              }
              .contents-underline {
                border-bottom-color: #535353;
                @media (min-width: 1200px) {
                  border-bottom-color: #1e1e1e;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    content: '';
    @media (min-width: 1200px) {
      z-index: 1;
    }
  }

  .header-breadcrumb {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    height: 52px;
    background: #F8F9FA;
    @media (min-width: 1200px) {
      display: none !important;
    }
    .breadcrumb-link-group {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 24px;
      padding-right: 24px;
    }
    .breadcrumb-link-list,
    .breadcrumb-link-back {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 40px;
      flex: 0 0 40px;
      height: 100%;
    }
    .breadcrumb-link-text-area {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
    }
    .breadcrumb-link-arrow {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 40px;
      flex: 0 0 40px;
      height: 100%;
      line-height: 0;
      margin-left: auto;
      &:after {
        width: 20px;
        height: 20px;
        background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.09961 6L10.0996 13L17.0996 6" stroke="%231E1E1E" stroke-width="1.5"/></svg>') no-repeat center;
        background-size: cover;
        content: '';
      }
    }
    .breadcrumb-link-arrow.open {
      &:after {
        transform: rotate(180deg);
      }
    }
    .breadcrumb-link + .breadcrumb-link {
      padding-left: 32px;
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.36621 17L13.3662 10L6.36621 3" stroke="%231E1E1E" stroke-width="1.5"/></svg>');
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 8px;
    }
  }

  .header-breadcrumb.web {
    .breadcrumb-link-group {
      width: calc(100% - 56px);
      padding-right: 0;
    }
    .breadcrumb-link-back + .breadcrumb-link-group {
      padding-left: 0;
    }
  }

  .header-breadcrumb.doc {
    .breadcrumb-link-group {
      width: calc(100% - 112px);
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }

  .breadcrumb-sub-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(100%);
    display: none;
    width: 100%;
    font-size: 14px;
    padding: 8px 0;
    background: #fff;
    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.42px;
      padding: 0 24px;
      color: #737373;
      gap: 4px;
    }
    a.selected {
      color: #0f42cf;
      font-weight: 700;
      letter-spacing: 0;
    }
    .sub-menu-arrow {
      display: flex;
      width: 16px;
      height: 16px;
      background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.36621 17L13.3662 10L6.36621 3" stroke="%23737373" stroke-width="1.5"/></svg>') no-repeat center;
      background-size: cover;
      line-height: 0;
    }
    .sub-menu-quick {
      display: inline-flex;
      align-items: center;
      padding: 2px 12px 0 16px;
      width: fit-content;
      height: 36px;
      border-radius: 18px;
      border: 1px solid #c9cddd;
      color: #535353;
      margin-left: 24px;
      .sub-menu-link {
        display: flex;
        width: 16px;
        height: 16px;
        background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.9936 9.50049V2.99707L10.4999 2.99707" stroke="%23535353" stroke-width="1.5"/><path d="M10.6947 9.57135L16.9941 2.99707" stroke="%23535353" stroke-width="1.5"/><path d="M16.9999 13.0005V16.997H3.00134V2.99707H6.99988" stroke="%23535353" stroke-width="1.5"/></svg>');
        background-size: cover;
        line-height: 0;
        color: #2088FD;
        margin-top: -2px;
      }
    }
  }

  .sdp-header-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: block;
    padding: 60px 24px 40px 24px;
    background: #fff;
    transform: translateY(-100%);
    transition: transform .2s ease-in;
    @media (min-width: 1200px) {
      height: initial;
      padding: 60px 40px 60px 40px;
    }

    .header-search-body {
      max-width: 1200px;
      margin: 0 auto;
    }

    .header-search-recommend {
      max-width: 1056px;
      margin: 40px auto 0 auto;
      .recommend-ul {
        display: grid;
        gap: 24px;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        @media (min-width: 1200px) {
          gap: 16px;
        }
        p {
          font-family: 'Samsung Sharp Sans', sans-serif;
          font-size: 12px;
          font-weight: 500;
          color: #9e9e9e;
          line-height: 14px;
          letter-spacing: -0.36px;
          @media (min-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.42px;
          }
        }
        span {
          font-family: 'Samsung Sharp Sans', sans-serif;
          font-size:  14px;
          line-height: 16px;
          font-weight: 500;
          color: #535353;
          letter-spacing: -0.42px;
          @media (min-width: 1200px) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.48px;
          }
        }
      }
    }

    .header-search-close {
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
      @media (min-width: 1200px) {
        top: 40px;
        right: 40px;
      }
    }
  }

  .sdp-header-search.open {
    transform: translateY(0);
  }

  .global-nav-top-box {
    position: relative;
    z-index: 6;
    background: #fff;
    border-bottom: 1px solid #C9CDDD;
    @media (min-width: 1200px) {
      border-bottom: initial;
    }
  }

  .global-nav-top {
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .nav-btm-menu,
  .dynamic-menu-item-contents {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-container.line-break {
    @media (min-width: 1200px) {
      flex-direction: column;
      .sub-nav-util {
        margin-left: auto;
      }
    }
  }
}

.sdp-header.sub {
  position: relative;
  @media (min-width: 1200px) {
    position: relative;
  }
}

.sdp-header.doc {
  .header-breadcrumb-fixed {
    border-bottom: 1px solid #c9cddd;
  }
  .global-nav-top {
    max-width: 1560px;
    margin: 0 auto;
    @media (min-width: 1200px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .nav-btm-menu,
  .dynamic-menu-item-contents {
    max-width: 1560px;
    margin: 0 auto;
    @media (min-width: 1200px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    @media (min-width: 1200px) {
      padding: 0 40px;
    }
  }
}

.sdp-header * {
  font-family: 'Samsung Sharp Sans', sans-serif;
}
