@font-face {
  font-family: 'SamsungOne';
  src: url('../../assets//fonts/SamsungOne-400.woff2') format('woff2'),
  url('../../assets/fonts/SamsungOne-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('../../assets//fonts/SamsungOne-700.woff2') format('woff2'),
  url('../../assets/fonts/SamsungOne-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('../../assets//fonts/SamsungSharpSansMd.woff2') format('woff2'),
  url('../../assets/fonts/SamsungSharpSansMd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('../../assets//fonts/SamsungSharpSansBd.woff2') format('woff2'),
  url('../../assets/fonts/SamsungSharpSansBd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
