<!--<script src="/build/js/vendor.min.js"></script>-->
<!--<script src="/build/js/app.js"></script>-->

<script>
  // HEADER
  $(function () {
    checkGap();

    // HEADER Scroll Interaction
    $(window).on('scroll', function () {
      var currentScroll = window.scrollY;
      var flagHeight = 112;
      if (currentScroll > flagHeight) {
        $('.sdp-header.sub .header-breadcrumb-fixed').addClass('active');
      } else {
        $('.sdp-header.sub .header-breadcrumb-fixed').removeClass('active');
      }
    });

    function checkGap() {
      var headerContainer = $('.header-container');
      var breadcrumb = $('.sub-nav-breadcrumb');
      var utilMenu = $('.sub-nav-util');

      var breadcrumbRight = breadcrumb.offset().left + breadcrumb.outerWidth();
      var utilMenuLeft = utilMenu.offset().left;
      var gap = utilMenuLeft - breadcrumbRight;

      if (gap <= 100) {
        headerContainer.addClass('line-break');
      } else {
        headerContainer.removeClass('line-break');
      }
    }

    $(window).on('resize', checkGap);

    // GNB Sub Menu Show
    $('[data-target="navMenu"] > li:not(.single)').on('mouseenter', function () {
      $('[data-target="header"]').find('[data-target="headerDimmed"]').stop().fadeIn(150);
    });

    // GNB Sub Menu Hide
    $('[data-target="navMenu"] > li:not(.single)').on('mouseleave', function () {
      $('[data-target="header"]').find('[data-target="headerDimmed"]').stop().fadeOut(150);
    });
  });

  // Footer
  $(function () {
    $('.item-button').on('click', function () {
      if ($(this).hasClass('open')) {
        $(this).removeClass('open');
      } else {
        $('.item-button').removeClass('open');
        $(this).addClass('open');
      }
    });

    $(document).click(function(event) {
      if (!$(event.target).closest('.dropdown-content').length &&
        !$(event.target).closest('.item-button').length) {
        $('.item-button').removeClass('open');
      }
    });
  })
</script>
